In [1]:
from __future__ import print_function
__author__ = 'mo'
import pylab as pl
import numpy as np
%pylab inline

import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import geopandas as gp
import json

Populating the interactive namespace from numpy and matplotlib

In [47]:
boa = pd.read_csv('pluto_data.csv')
#boa.columns
boa.head()
#boa.shape

,the_geom,address,allzoning1,allzoning2,appbbl,appdate,areasource,assessland,assesstot,bbl,...,yearalter1,yearalter2,yearbuilt,zipcode,zmcode,zonedist1,zonedist2,zonedist3,zonedist4,zonemap
0,0106000020E61000000100000001030000000100000006...,99 COMMERCIAL STREET,C2-4/R6,NaN,0,NaN,7,436500,888300,3024720400,...,2012,0,1931,11222,Y,R6,NaN,NaN,NaN,8d
1,0106000020E61000000100000001030000000100000008...,1155 MANHATTAN AVENUE,M1-2,R6,0,NaN,7,1664550,5668200,3024720350,...,2012,0,1906,11222,Y,M1-2,R6,NaN,NaN,9b
2,0106000020E61000000100000001030000000100000004...,COMMERCIAL STREET,M1-2,NaN,0,NaN,7,34200,34200,3024780001,...,0,0,0,11222,NaN,M1-2,NaN,NaN,NaN,13a
3,0106000020E61000000100000001030000000100000007...,COMMERCIAL STREET,M1-2,NaN,0,NaN,7,13050,13050,3024780006,...,0,0,0,11222,NaN,M1-2,NaN,NaN,NaN,13a
4,0106000020E61000000100000001030000000100000006...,19 BOX STREET,M1-2,NaN,0,NaN,7,18450,61200,3024780015,...,1991,0,1930,11222,NaN,M1-2,NaN,NaN,NaN,13a

In [28]:
boa['zipcode'].unique()

array([11222, 11211, 11206,     0, 11237, 11385])

In [35]:
boa['bbl'].tail()

2200    3031900002
2201    3031900001
2202    3031900045
2203    3031900037
2204    3031900014
Name: bbl, dtype: int64

In [44]:
boa['ct2010'].unique()

array([ 563.,  579.,  573.,  477.,  589.,  593.,  449.,  485.,  493.,
        481.,   nan,  453.,  447.,  539.])

In [30]:
hist1= boa['zipcode'].groupby(boa['landuse'])

In [31]:
fig = pl.figure(figsize=(10,10))
pd.plot.hist(fig)

AttributeError: 'module' object has no attribute 'plot'

In [41]:
boa[['cb2010', 'ct2010']].head(20)

    cb2010  ct2010
0     1001     563
1     1001     563
2     2000     563
3      NaN     563
4     2000     563
5     2000     563
6     2000     563
7     2000     563
8     2000     563
9     1002     579
10    1002     579
11    1002     579
12    1002     579
13    1002     579
14    1002     579
15    1001     579
16    1001     579
17    1002     579
18    1002     579
19    1002     579